


<div class="container custom-container text-xl-start  my-4">

    <h1 class=" custom-heading ">About <span>Me</span></h1>
    <h3 >Full Stack Developer!</h3>

</div>


<div class="img">
  <img class="img-thumbnail" src="../../assets/img1.png" alt="">
</div>
  

  <p class="text-start" >
    Hello and welcome to my portfolio! I'm a dedicated full-stack web developer
    with a strong focus on crafting exceptional digital experiences. My expertises 
    across a wide range of technologies, including Angular for creating
    dynamic front-ends, and the MEAN/MERN stacks, complemented by my proficiency
    in working with MSSQL databases. This skill set allows me to seamlessly blend
    creativity and functionality, whether I'm designing captivating user interfaces
    or building robust server systems using technologies like Node.js and MongoDB.
    With a passion for delivering user-centric web solutions, I'm committed to
    creating experiences that leave a lasting impact. Join me on this exciting journey
    as we explore the limitless possibilities of web development!
  </p>
