.card{
  background-color:  #3B3B3B;
  color: white;
  margin-top: 15%;


 
}
:host ::ng-deep .ui-dialog.custom-dialog {
  background-color: #3B3B3B !important;
}


.card:hover{
  border:2px solid aqua
}

.container{
  color: whitesmoke;

  
}
span{
  color: aqua;
}




.custom-heading {
  text-align: center; /* Align the heading to the right */
}

.custom-row {
  margin-left: 11%; /* Align the row to the right */
  width:80%;
  
  
}




i{
  color: aqua;
  font-size: 150%;
  margin-left: 46%;
  margin-top: 50%;
}

.row{
  margin-right: 20%;
}












