

#home{
    margin-top: -7%;
    
    padding-top: 10%;
  
}
#about{
    margin-top: 20%;
    padding-top: 10%;
  
 
}

#portfolio{
    margin-top: 20%;
    padding-top: 10%;
}

#services{
    margin-top: 20%;
    padding-top: 10%;
}

#contact{
    margin-top: 20%;
     padding-top: 10%;
}

#footer{
    background-color: #3B3B3B;
    
}

















