
<div class="container custom-container">
    <h1 class="custom-heading">My <span>Services</span></h1>
</div>
<div class="row custom-row">
    <div class="col-md-4 ">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-code-slash"></i>
          <h5 class="card-title">Mean Developer</h5>
          <p class="card-text">A MEAN Stack developer crafts web applications using MongoDB, Express.js, Angular, and Node.js. They excel in creating seamless, full-stack solutions that provide efficient data flow and engaging user experiences.</p>
      
          <div class="d-flex justify-content-center">
            <button type="button" class="btn ">Read More</button>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-code-slash"></i>
          <h5 class="card-title">Mern Developer</h5>
          <p class="card-text">A MERN Stack developer specializes in constructing web applications with MongoDB, Express.js, React, and Node.js. They excel in creating end-to-end solutions that facilitate efficient data management .</p>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn ">Read More</button>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4  ">
        <div class="card">
          <div class="card-body">
          <i class="bi bi-code-slash"></i>
        
            <h5 class="card-title">Angular Developer</h5>
            <p class="card-text">An Angular developer is proficient in crafting web applications using the Angular framework. They excel in building dynamic, client-side solutions that provide seamless user experiences and efficient data .</p>
            <div class="d-flex justify-content-center">
            <button type="button" class="btn ">Read More</button>
            </div>
          </div>
        </div>
      </div>