



       
   <div id="home">
    <img id="image" src="../../assets/background.jpg" loading="eager" alt="">
    <div class="container responsive-text">
    <p class="content">Hello, It's Me</p>
    <h1>Afaan kamran</h1>
    <p>And I'm a <span id="heading">Full Stack Web Developer</span></p>
    <p id="para">The elusive Full Stack Developer, often compared to a tech-savvy wizard, wields <br>
    the power of<span id="paragraph"> both front-end and back-end realms in the kingdom of programming.</span></p>
    <div class=" icons ">
        <a href="https://www.facebook.com/profile.php?id=100079894988519" target="_blank">
            <i class="pi pi-facebook"></i>
        </a>
        
        
        
        <a href="https://www.linkedin.com/in/afaan-kamran-590325246/"target="_blank">
            <i class="pi pi-linkedin"></i>
        </a>
        
        
            <a href="https://github.com/Afaankamran" target="_blank">
               <i class="pi pi-github"></i>
            </a>
        
         
        
        
        <a href="https://twitter.com/affaankamran2" target="_blank">
            <i   class="pi pi-twitter"></i>
        </a>
     </div>
     <br>
     <br>
     <a href="https://drive.google.com/file/d/1SCj_-liBoq1texVxgUj6NhaFVC_Z2UKQ/view?usp=drive_link" target="_blank" download="Affan Kamran Updated Resume.pdf"><button pButton type="button" label="Preview CV" class="custom-button"></button></a>
</div>
   </div>
 





   
    
    
    
    
    
 
    

    
    
    
    